############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*


############################
# Linux
############################

*~


############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


############################
# Packages / Archives
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid


############################
# Logs
############################

.tmp/
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


############################
# Databases
############################

*.sql
*.sqlite
*.sqlite3


############################
# Editors / IDEs
############################

.idea/
.vscode/
nbproject/


############################
# Misc
############################

*#
ssl/
.tsbuildinfo
.eslintcache


############################
# Node.js
############################

node_modules/
.node_history
lib-cov/
lcov.info
pids/
results/


############################
# Package Managers
############################

.yarn/*
!.yarn/cache
!.yarn/unplugged
!.yarn/patches
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.pnp.*
.yarn-integrity


############################
# Tests
############################

coverage/


############################
# Strapi
############################

# Environment variables
.env
.env.*
!.env.example

# Strapi generated files
.strapi/
.strapi-updater.json
.strapi-cloud.json

# Build files
dist/
build/

# Strapi exports
exports/

# Uploads
public/uploads/*
!public/uploads/.gitkeep


############################
# Temporary files
############################

.cache/
.tmp/
temp/